useDynLib(bigExplore)
export(bigCooks)
export(bigCov)
export(bigInfluencePlot)
export(bigLeverage)
export(bigOutlierTest)
export(bigResiduals)
export(bigResidualsPlot)
export(fuzzyCurve)
export(predict.biglm.big.matrix)
